eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka


spring:
  datasource:
    url: jdbc:mysql://localhost:3306/>>>>>>>>>>>>>dbname<<<<<<<<<<<<<<<<<<<<<<<<
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver