spring:
  application:
    name: gateway
  profiles:
    active: dev
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service: true

jwt:
  secret: ${JWT_SECRET:devSecretKeyForLocalDevelopmentOnlyDoNotUseInProductionMustBe256BitsOrMore}

server:
  port: 8001